#home-page {
    text-align: center;
    #intro {
        margin-bottom: 1rem;
    }

    #helpful-links {
        margin-top: 2rem;

        .heading {
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        a {
            margin-right: 1rem;
            color: #999;
            font-weight: bold;
        }
    }
}